*.class
*.tasty
*.log
target/

# sbt / Scala tooling
.bsp/
.bloop/
.metals/
project/project/
project/target/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Local Cursor project memory
.cursor/PROJECT_BRAIN.md
.cursor/GOTCHAS.md
.cursor/RULES.md
